.messagebox__conversation
  .messagebox__conversation--user
    sample
  .messagebox__conversation--date
    &nbsp;&nbsp2018/09/11
  %br
  .messagebox__conversation--word
    今日もいい天気ですねaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaabbbbbbbbbbbbbbbbbbbbbbbbbbbbb
