.header

.menu 
  .menu__current
    %p
      title
    .menu__current--icon
      = link_to do #仮のリンク色の変更がうまくいっていない
        %i.fa.fa-edit
      = link_to do
        %i.fa.fa-cog
/ ここに後で.each使ってループでグループ表示
  = render 'messages/groups'
.messagebox
