.header

.menu 
  .menu__current
    %p
      title
    .menu__current--icon
      = link_to do #仮のリンク色の変更がうまくいっていない
        %i.fa.fa-edit
      = link_to do
        %i.fa.fa-cog
  / ここに後で.each使ってループでグループ表示
  = render partial: "messages/groups"
.messagebox
  .messagebox__current
    Sampleグループ
    .messagebox__current--members
      Member: who am i?
    %button.messagebox__current--edit
      Edit
